<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer details</title>
</head>
<body>
    <div>
        <h1>Customer Info</h1>
        <table>
            <tr>
                <td>Name</td>
                <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td th:text="${customer.email}"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td th:text="${customer.phone}"></td>
            </tr>
        </table>
    </div>
    <div>
        <a th:href="'customeredit/'+${customer.id}">edit</a>
    </div>
    <div>
        <h1>Customer Accounts</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Type</td>
                <td>Balance</td>
                <td></td>
            </tr>
            <tr th:each="account : ${customer.getAccounts()}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.getAccountType()}"></td>
                <td th:text="${account.balance}"></td>
                <td><a th:href="'/javabank/accountdeletefromcustomer/'+${account.id}">delete</a></td>
            </tr>
        </table>
    </div>
    <div>
        <form th:action="'/openaccount/'+${customer.id}">
            <input type="submit" value="Open account">
        </form>
    </div>
    <div>
        <a th:href="'/javabank/customers'">back to list</a>
    </div>
</body>
</html>