<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1>Welcome to your bank management system!</h1>
<p/>
<p/>
<div>
    <table>
        <tr>
            <td>View all customers</td>
            <td><a href="/javabank/customers">HERE</a></td>
        </tr>
        <tr>
            <td>View all accounts</td>
            <td><a href="/javabank/accounts">HERE</a></td>
        </tr>
    </table>
</div>
</body>
</html>